<div class="index-banner">
  <div class="container">
    <h1 class="title"> #cocktails</h1>
    <div class="container d-inline-flex">
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 justify-content-center">
        <% @cocktails.each do |cocktail| %>
         <% if cocktail.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
            <% end %>
            <%= link_to cocktail.name, cocktail_path(cocktail)%>
          </div>
        <% end %>
      </div>
    </div>
    <div class="new-link"><%= link_to 'Ajouter une nouvelle recette', new_cocktail_path %></div>
  </div>
</div>


