
<div class="container d-flex align-items-center justify-content-center">
  <div>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" alt="nn">
  </div>
  <div>
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>
</div>
