<div class="home-banner">
  <h1>La maison du cocktail</h1>
  <p>
  <span id="banner-typed-text"></span>
    <p>Dernière création
      <% if Cocktail.last.name %>
        <%= link_to Cocktail.last.name, cocktails_path %></p>
      <% end %>
 </p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
        <div class="d-flex justify-content-center">
      <h2 class="title-home">LES EXPERTS DES BARMANS ET BARMAIDS DEPUIS 2011</h2>
        </div>
      <h3>MARCO CALDONE VOUS INVITE À DÉCOUVRIR LE MATÉRIEL DE BAR DONT CHACUN DEVRAIT DISPOSER POUR RÉALISER DES COCKTAILS D'EXCEPTION.</h3>

      <p>Connu pour son professionnalisme et la qualité du matériel qu'il utilise avec "Bar Consulting Art", les demandes pour ses services n'ont cessé d'affluer ce qui lui a permis d'exporter son savoir-faire du Royaume-Uni à l'Espagne en passant par le Kirghizistan et le Quatar... En 2015, la boutique physique de "La Maison Du Barman" a été créée à Paris au 46 rue Sedaine, afin de répondre à chacune de vos demandes que cela soit pour tester le matériel, le comparer et en disposer directement.
        Votre satisfaction nous est primordiale que vous soyez professionnel ou amateur. N'hésitez plus, nous sommes là pour vous aider.
        Marco C.</p>

       <p>Connu pour son professionnalisme et la qualité du matériel qu'il utilise avec "Bar Consulting Art", les demandes pour ses services n'ont cessé d'affluer ce qui lui a permis d'exporter son savoir-faire du Royaume-Uni à l'Espagne en passant par le Kirghizistan et le Quatar... En 2015, la boutique physique de "La Maison Du Barman" a été créée à Paris au 46 rue Sedaine, afin de répondre à chacune de vos demandes que cela soit pour tester le matériel, le comparer et en disposer directement.
        Votre satisfaction nous est primordiale que vous soyez professionnel ou amateur. N'hésitez plus, nous sommes là pour vous aider.
        Marco C.</p>

         <p>Connu pour son professionnalisme et la qualité du matériel qu'il utilise avec "Bar Consulting Art", les demandes pour ses services n'ont cessé d'affluer ce qui lui a permis d'exporter son savoir-faire du Royaume-Uni à l'Espagne en passant par le Kirghizistan et le Quatar... En 2015, la boutique physique de "La Maison Du Barman" a été créée à Paris au 46 rue Sedaine, afin de répondre à chacune de vos demandes que cela soit pour tester le matériel, le comparer et en disposer directement.
        Votre satisfaction nous est primordiale que vous soyez professionnel ou amateur. N'hésitez plus, nous sommes là pour vous aider.
        Marco C.</p>
    </div>
  </div>
</div>
