.index-banner {
    background-image: url('https://www.telerama.fr/sites/tr_master/files/styles/simplecrop1000/public/medias/2015/10/media_132510/dans-le-secret-des-speakeasy-ces-bars-a-cocktails-caches-dans-paris%2CM261221.jpg?itok=a7EoYRHA');
    background-size: cover;
    height: 120vh;
    color: #eee;
    text-align: center;
    padding-top: 15vh;
}
