.new-dose-banner {
    background-image: url('https://dg38gzoej82xh.cloudfront.net/sites/default/files/styles/image_gallery_xl/public/images/node/article/99-cobbler-shaker-bar-tools.jpg?itok=AjJFjlks');
    background-size: cover;
    height: 120vh;
    color: #eee;
    text-align: center;
    padding-top: 15vh;
}
