.new-banner {
    background-image: url('https://www.materrazza.com/sites/default/files/shutterstock_458414590.jpg');
    background-size: cover;
    height: 120vh;
    color: #eee;
    text-align: center;
    padding-top: 15vh;
}
