ul.list-group.reviews {
    color: #4a4a4a;
    position: absolute;
    font-family: monospace;
    top: 25px;
    right: 200px;
  }
.list-group.reviews h2 {
    font-family: monospace;
    color: white;
    font-size: 19px;
}
