.show-banner {
    background-image: url('https://lepetitjournal.com/sites/default/files/styles/main_article/public/2018-11/Romain%20Krot%20-Meerkat.jpeg?itok=PsJQM4oO');
    background-size: cover;
    height: 120vh;
    color: #eee;
    text-align: center;
    padding-top: 15vh;
}

ul.link-show {
    font-size: 16px;
    list-style: none;
    text-align: start;
}
